{
	email {$CADDY_ACME_EMAIL}
}

{$LEDGERX_PUBLIC_DOMAIN} {
	encode zstd gzip
	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		X-Content-Type-Options "nosniff"
		Referrer-Policy "no-referrer"
		Permissions-Policy "camera=(), microphone=(), geolocation=()"
		Content-Security-Policy "default-src 'self'; script-src 'self'; style-src 'self'; img-src 'self' data:; connect-src 'self' https://{$KEYCLOAK_PUBLIC_DOMAIN}; object-src 'none'; base-uri 'self'; frame-ancestors 'none'"
	}
	@privateMetrics path /actuator/prometheus
	respond @privateMetrics 404
	reverse_proxy ledgerx:8080
}

{$KEYCLOAK_PUBLIC_DOMAIN} {
	encode zstd gzip
	header Strict-Transport-Security "max-age=31536000; includeSubDomains"
	reverse_proxy keycloak:8080
}
